<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.CompanyDetailMapper">
    <resultMap id="companyDetailMap" type="CompanyDetail">
        <id column="companyDetailId" property="companyDetailId"></id>
        <result column="companyId" property="companyId"></result>
        <result column="fullName" property="fullname"></result>
        <result column="shortName" property="shortname"></result>
        <result column="feature" property="feature"></result>
        <result column="city" property="city"></result>
        <result column="field" property="field"></result>
        <result column="scale" property="scale"></result>
        <result column="comurl" property="comurl"></result>

        <association property="companyImg" column="companyDetailId" select="cn.edu.scau.linyuanbin.recruitment.mapper.CompanyImgMapper.getCompanyImgByCompanyDetailId"></association>
        <collection property="labelList" column="companyDetailId" select="cn.edu.scau.linyuanbin.recruitment.mapper.CompanyLabelMapper.getLabelListByCompanyDetailId"></collection>
    </resultMap>
    
    <!--根据关键字模糊查询公司名匹配的公司idList-->
    <select id="getCompanyIdByFuzzyQuery" parameterType="java.lang.String" resultType="java.lang.Integer">
        select companyId from companydetail
        <where>
            <if test="companyName!=null and companyName!=''">
                fullName like "%"#{companyName}"%"
                or
                shortName like "%"#{companyName}"%"
            </if>
            <if test="companyName==''">
                1 = 1
            </if>
            <if test="companyName==null">
                1 = 1
            </if>
        </where>
    </select>

    <!--根据companyDetailId获取单个对象-->
    <select id="getCompantDetailByCompanyDetailId" parameterType="java.lang.Integer" resultMap="companyDetailMap">
        <![CDATA[select * from companydetail]]>
        <where>
            <if test="companyDetailId != null">
                companyDetailId = #{companyDetailId}
            </if>
            <if test="companyDetailId == null">
                companyDetailId = -1
            </if>
        </where>
    </select>

    <!--根据companyId获取单个对象-->
    <select id="getCompantDetailBycompanyId" parameterType="java.lang.Integer" resultMap="companyDetailMap">
        <![CDATA[select * from companydetail]]>
        <where>
            <if test="companyId != null">
                companyId = #{companyId}
            </if>
            <if test="companyId == null">
                companyId = -1
            </if>
        </where>
    </select>

    <!--保存一个对象-->
    <insert id="insertCompanyDetail" parameterType="CompanyDetail" useGeneratedKeys="true" keyProperty="companyDetailId" keyColumn="companyDetailId">
        <![CDATA[insert into companydetail]]>
        <![CDATA[(companyId, fullName, shortName, feature, city, field, scale, comurl)]]>
        values
        (#{companyDetail.companyId},#{companyDetail.fullname},#{companyDetail.shortname},#{companyDetail.feature},
        #{companyDetail.city},#{companyDetail.field},#{companyDetail.scale},#{companyDetail.comurl})
    </insert>

    <!--更新一个对象-->
    <update id="updateCompanyDetail" parameterType="CompanyDetail">
        <![CDATA[update companydetail]]>
        set
        companyId = #{companyDetail.companyId},
        fullName = #{companyDetail.fullname},
        shortName = #{companyDetail.shortname},
        feature = #{companyDetail.feature},
        city = #{companyDetail.city},
        field = #{companyDetail.field},
        <![CDATA[scale = #{companyDetail.scale},]]>
        comurl = #{companyDetail.comurl}
        <where>
            <if test="companyDetail!=null and companyDetail.companyDetailId != null">
                companyDetailId = #{companyDetail.companyDetailId}
            </if>
            <if test="companyDetail==null or companyDetail.companyDetailId == null">
                companyDetailId = -1
            </if>
        </where>
    </update>
</mapper>