<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.CompanyImgMapper">
    <resultMap id="companyImgMap" type="CompanyImg">
        <id column="companyImgId" property="companyImgId"></id>
        <result column="companyDetailId" property="companyDetailId"></result>
        <result column="ossId" property="ossId"></result>
<!--        <result column="" property=""></result>-->

        <association property="ossFile" column="ossId" select="cn.edu.scau.linyuanbin.recruitment.mapper.OSSFileMapper.getOSSFileByossId"></association>
<!--        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据companyImgId查找对象-->
    <select id="getCompanyImgByCompanyImgId" parameterType="java.lang.Integer" resultMap="companyImgMap">
        select * from companyimg
        <where>
            <if test="companyImgId != null">
                companyImgId = #{companyImgId}
            </if>
            <if test="companyImgId == null">
                companyImgId = -1
            </if>
        </where>
    </select>

    <!--根据companyDetailId查找对象-->
    <select id="getCompanyImgByCompanyDetailId" parameterType="java.lang.Integer" resultMap="companyImgMap">
        select * from companyimg
        <where>
            <if test="companyDetailId != null">
                companyDetailId = #{companyDetailId}
            </if>
            <if test="companyDetailId == null">
                companyDetailId = -1
            </if>
        </where>
    </select>

    <!--保存一个对象-->
    <insert id="insertCompanyImg" parameterType="CompanyImg" useGeneratedKeys="true" keyProperty="companyImgId" keyColumn="companyImgId">
        insert into companyimg(companyDetailId,ossId)
        values (#{companyImg.companyDetailId},#{companyImg.ossId})
    </insert>

    <!--更新一个对象-->
    <update id="updateCompanyImg" parameterType="CompanyImg">
        update companyimg set
        companyDetailId = #{companyImg.companyDetailId},
        ossId = #{companyImg.ossId}
        <where>
            <if test="companyImg!=null and companyImg.companyImgId != null">
                companyImgId = #{companyImg.companyImgId}
            </if>
            <if test="companyImg==null or companyImg.companyImgId == null">
                companyImgId = -1
            </if>
        </where>
    </update>
</mapper>