<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.CompanyDetailMapper">
    <resultMap id="companyDetailMap" type="CompanyDetail">
        <id column="companyDetailId" property="companyDetailId"></id>
        <result column="companyId" property="companyId"></result>
        <result column="fullName" property="fullname"></result>
        <result column="shortName" property="shortname"></result>
        <result column="feature" property="feature"></result>
        <result column="city" property="city"></result>
        <result column="field" property="field"></result>
        <result column="scale" property="scale"></result>
        <result column="comurl" property="comurl"></result>

        <association property="companyImg" column="companyDetailId" select=""></association>
        <collection property="labelList" column="companyDetailId" select=""></collection>
    </resultMap>

    <!--根据companyDetailId获取单个对象-->
    <select id="getCompantDetailByCompanyDetailId" parameterType="java.lang.Integer" resultMap="companyDetailMap">
    </select>

    <!--根据companyId获取单个对象-->
    <select id="getCompantDetailBycompanyId" parameterType="java.lang.Integer" resultMap="companyDetailMap">
    </select>

    <!--保存一个对象-->
    <insert id="insertCompanyDetail" parameterType="CompanyDetail" useGeneratedKeys="true" keyProperty="companyDetailId" keyColumn="companyDetailId">

    </insert>

    <!--更新一个对象-->
    <update id="updateCompanyDetail" parameterType="CompanyDetail">
    </update>
</mapper>