<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.EducationMapper">
    <resultMap id="educationMap" type="Education">
        <id column="educationId" property="educationId"></id>
        <result column="resumeId" property="resumeId"></result>
        <result column="schoole" property="school"></result>
        <result column="degree" property="degree"></result>
        <result column="profession" property="profession"></result>
        <result column="startYear" property="startyear"></result>
        <result column="endYear" property="endyear"></result>
        <result column="rank" property="rank"></result>

        <!--<association property="" column="" select=""></association>
        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据educationId获得单个对象-->

    <!--根据resumeId获得多个对象-->

    <!--新增对象-->
    <insert id="" parameterType="" useGeneratedKeys="true" keyProperty="" keyColumn="">

    </insert>

    <!--根据educationId删除对象-->

    <!--更新对象-->
</mapper>