<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.FeedBackMapper">
    <resultMap id="feedBackMap" type="FeedBack">
        <id column="feedBackId" property="feedBackId"></id>
        <result column="deliveryId" property="deliveryId"></result>
        <result column="feedBackTime" property="feedbacktime"></result>
<!--        保存‘邀请面试’或‘不合适’-->
        <result column="feedback" property="feedback"></result>

        <association property="feedBackDetail" column="feedBackId" select=""></association>
<!--        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据feedBackId查找-->
    <select id="" parameterType="java.lang.Integer" resultMap="">

    </select>

    <!--根据deliveryId查找-->
    <select id="" parameterType="java.lang.Integer" resultMap="">

    </select>

    <!--新增对象-->
    <insert id="" parameterType="" useGeneratedKeys="true" keyProperty="" keyColumn="">

    </insert>

    <!--更新对象-->
    <update id="" parameterType="">

    </update>

    <!--根据feedBackIdList更新多个对象-->
    <update id="" parameterType="">

    </update>

    <!--新增多个对象-->
</mapper>