<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.FeedBackDetailMapper">
    <resultMap id="feedBackDetailMap" type="FeedBackDetail">
        <id column="feedBackDetailId" property="feedBackDetailId"></id>
        <result column="feedBackId" property="feedBackId"></result>
        <result column="address" property="address"></result>
        <result column="time" property="time"></result>
        <result column="tel" property="tel"></result>

        <!--<association property="" column="" select=""></association>
        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据feedBackDetailId获得对象-->

    <!--根据feedBackId获得对象-->

    <!--新增对象-->

    <!--新增多个对象-->
</mapper>