<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.MemberImgMapper">
    <resultMap id="memberImgMap" type="MemberImg">
        <id column="memberImgId" property="memberImgId"></id>
        <result column="companyMemberId" property="companyMemberId"></result>
        <result column="ossId" property="ossId"></result>
<!--        <result column="" property=""></result>-->

        <association property="ossFile" column="ossId" select=""></association>
<!--        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据memberImgId查找-->
    <select id="getMemberImgBymemberImgId" parameterType="java.lang.Integer" resultMap="memberImgMap">

    </select>

    <!--根据companyMemberId查找-->
    <select id="getMemberImgBycompanyMemberId" parameterType="java.lang.Integer" resultMap="memberImgMap">

    </select>

    <!--更新对象-->
    <update id="updateMemberImg" parameterType="MemberImg">

    </update>

    <!--新增对象-->
    <insert id="insertMemberImg" parameterType="MemberImg" useGeneratedKeys="true" keyProperty="memberImgId" keyColumn="memberImgId">

    </insert>
</mapper>