<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.PersonDetailMapper">
    <resultMap id="personDetailMap" type="PersonDetail">
        <id column="personDetailId" property="personDetailId"></id>
        <result column="personId" property="personId"></result>
        <result column="resumeId" property="resumeId"></result>
        <result column="userName" property="username"></result>
        <result column="tel" property="tel"></result>
        <result column="email" property="email"></result>
        <result column="gender" property="gender"></result>
        <result column="degree" property="degree"></result>
        <result column="workYear" property="workyear"></result>
        <result column="currentState" property="currentstate"></result>

        <association property="personImg" column="personDetailId" select="cn.edu.scau.linyuanbin.recruitment.mapper.PersonImgMapper.getPersonImgBypersonDetailId"></association>
<!--        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据personDetailId查找对象-->
    <select id="getPersonDetailBypersonDetailId" parameterType="java.lang.Integer" resultMap="personDetailMap">
        select * from persondetail
        <where>
            <if test="personDetailId != null">personDetailId = #{personDetailId}</if>
            <if test="personDetailId == null">personDetailId = -1</if>
        </where>
    </select>

    <!--根据personId查找对象-->
    <select id="getPersonDetailBypersonId" parameterType="java.lang.Integer" resultMap="personDetailMap">
        select * from persondetail
        <where>
            <if test="personId != null">personId = #{personId}</if>
            <if test="personId == null">personId = -1</if>
        </where>
    </select>

    <!--根据resumeId查找对象-->
    <select id="getPersonDetailByresumeId" parameterType="java.lang.Integer" resultMap="personDetailMap">
        select * from persondetail
        <where>
            <if test="resumeId != null">resumeId = #{resumeId}</if>
            <if test="resumeId == null">resumeId = -1</if>
        </where>
    </select>

    <!--新增对象-->
    <insert id="insertPersonDetail" parameterType="PersonDetail" useGeneratedKeys="true" keyProperty="personDetailId" keyColumn="personDetailId">
        insert into persondetail (personId, resumeId, userName, tel, email, gender, degree, workYear, currentState)
        values (#{personDetail.personId},
        #{personDetail.resumeId},
        #{personDetail.username},
        #{personDetail.tel},
        #{personDetail.email},
        #{personDetail.gender},
        #{personDetail.degree},
        #{personDetail.workyear},
        #{personDetail.currentstate});
    </insert>

    <!--更新对象-->
    <update id="updatePersonDetail" parameterType="PersonDetail">
        update persondetail set
        personId = #{personDetail.personId},
        resumeId = #{personDetail.resumeId},
        userName = #{personDetail.username},
        tel = #{personDetail.tel},
        email = #{personDetail.email},
        gender = #{personDetail.gender},
        degree = #{personDetail.degree},
        workYear = #{personDetail.workyear},
        currentState = #{personDetail.currentstate}
        <where>
            <if test="personDetail != null and personDetail.personDetailId != null">personDetailId = #{personDetail.personDetailId}</if>
            <if test="personDetail == null or personDetail.personDetailId == null">personDetailId = -1</if>
        </where>
    </update>

    <!--根据email查询是否已有用户-->
    <select id="getPersonDetailByEmail" resultMap="personDetailMap">
        select * from persondetail
        <where>
            <if test="email!=null">
                email = #{email}
            </if>
            <if test="email==null">
                personDetailId = -1
            </if>
        </where>
    </select>

    <!--根据tel查询是否已有用户-->
    <select id="getPersonDetailByTel" resultMap="personDetailMap">
        select * from persondetail
        <where>
            <if test="tel!=null">
                tel = #{tel}
            </if>
            <if test="tel==null">
                personDetailId = -1
            </if>
        </where>
    </select>
</mapper>