<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.PersonImgMapper">
    <resultMap id="personImgMap" type="PersonImg">
        <id column="personImgId" property="personImgId"></id>
        <result column="personDetailId" property="personDetailId"></result>
        <result column="ossId" property="ossId"></result>
<!--        <result column="" property=""></result>-->

        <association property="ossFile" column="ossId" select=""></association>
<!--        <collection property="" column="" select=""></collection>-->
    </resultMap>

    <!--根据personImgId查找对象-->

    <!--根据personDetailId查找对象-->

    <!--新增对象-->
    <insert id="" parameterType="" useGeneratedKeys="true" keyProperty="" keyColumn="">

    </insert>

    <!--更新对象-->
</mapper>