<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.linyuanbin.recruitment.mapper.PositionMapper">
    <resultMap id="positionMap" type="Position">
        <id column="positionId" property="positionId"></id>
        <result column="companyId" property="companyId"></result>
        <result column="salaryMin" property="salarymin"></result>
        <result column="salaryMax" property="salarymax"></result>
        <result column="department" property="department"></result>
        <result column="post" property="post"></result>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <result column="city" property="city"></result>
        <result column="experience" property="experience"></result>
        <result column="degree" property="degree"></result>
        <result column="advantage" property="advantage"></result>
        <result column="detail" property="detail"></result>
        <result column="address" property="address"></result>
        <result column="status" property="status"></result>

<!--        <association property="" column="" select=""></association>-->
<!--        <collection property="personList" column="" select=""></collection>-->
<!--        <collection property="resumeList" column="" select=""></collection>-->
    </resultMap>

    <!--根据positionId获得单个对象-->
    <select id="getPositionBypositionId" parameterType="java.lang.Integer" resultMap="positionMap">

    </select>

    <!--根据companyId获得多个对象-->
    <select id="getPositionListBycompanyId" parameterType="java.lang.Integer" resultMap="positionMap">

    </select>

    <!--新增对象-->
    <insert id="insertPosition" parameterType="Position" useGeneratedKeys="true" keyProperty="positionId" keyColumn="positionId">

    </insert>

    <!--根据positionId删除对象-->
    <delete id="deleteBypositionId" parameterType="java.lang.Integer">

    </delete>

    <!--更新对象-->
    <update id="updatePosition" parameterType="Position">

    </update>

    <!--根据companyId查找上线职位list-->
    <select id="getOnlinePositionListByCompanyId" parameterType="java.lang.Integer" resultMap="positionMap">

    </select>

    <!--根据companyId查找下线职位list-->
    <select id="getOfflinePositionListByCompanyId" parameterType="java.lang.Integer" resultMap="positionMap">

    </select>

</mapper>